@media (min-width: 1281px) {

    .icon_localisation {
        display: flex;
        position: absolute;
        margin-top: -34px;
        margin-left: 46.5%;
    }

    .reservation_title {
        font-size: 30px;
    }

    .explore_button {
        width: 181px;
        padding: 1%;
        margin-top: -4%;
        margin-left: 44%;
    }

    .footer{
        margin-top: 0;
    }

    .reservation_subtitle {
        font-size: 21px;
    }


    .fonctionnement {
        display: flex;
        flex-direction: column;
        padding: 0 450px 0 450px;
    }

    .steps-container {
        flex-direction: row;
    }

    .fonctionnement_title {
        margin-top: 0%;
        margin-left: 0%;
    }


    .circle_container {
        display: flex;

    }

    .step{
        flex-grow: 1;
    }

    .exploration {
        padding-top: 2%;
        background-color: #F6F6F6;
        padding-bottom: 2%;
    }

    .reservation {
        background-color: #F6F6F6;
        padding: 3%;
    }


    .section--restaurants {
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin-right: 0%;
        margin-top: 0%;
        padding: 0 450px 0 450px;

    }

    .section__title {
        margin-left: 6%;
        margin-top: -2%;
    }

    .resto-container{
        display: flex;
        flex-direction: row;
    }




























}